<!--Ojo Ajibola-->
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="clearfix base_page mb-0 ox">
    <div class="dark-grad">
        <div class="container p-5">
            <h2 class="h2 text-light text-center font-weight- display-4">
                TaskIt
            </h2>
        </div>
        <div class="clearfix mx-auto pb-5 px-2">
            <input class="form-control mx-auto" style="max-width:60%;" type="search" placeholder="Search a task" aria-label="Search">
        </div>
        <div><div class="pt-sm-2 pt-md-4 mb-0"></div></div>
    </div>
</div>
<div class="row clearfix text-center text-light text-decoration-none bg-success mx-auto ox container-fluid">
    <div class="col-10 col-sm-10 col-md-4 py-2 mx-auto my-3">
        <h5>Our Users</h5>
        <div class="cat-content text-center text-monospace">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, expedita placeat unde molestiae eum excepturi. Eos odio quae adipisci fugiat dignissimos veniam doloribus, inventore assumenda, voluptate atque iusto. Accusamus, officia.
            {% if not user.is_authenticated %}
            <br>To join us, login <a class="dot-link text-decoration-none" href="{% url 'login' %}"> here </a>
            {% endif %}
        </div>
    </div>
    <div class="col-10 col-sm-10 col-md-4 py-2 mx-auto my-3">
        <h5>About Us</h5>
        <div class="cat-content text-center text-monospace">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, expedita placeat unde molestiae eum excepturi. Eos odio quae adipisci fugiat dignissimos veniam doloribus, inventore assumenda, voluptate atque iusto. Accusamus, officia.
            <!-- No check-->
        </div>
    </div>
    <div class="col-10 col-sm-10 col-md-4 py-2 mx-auto my-3">
        <h5>Our Taskers</h5>
        <div class="cat-content text-center text-monospace">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, expedita placeat unde molestiae eum excepturi. Eos odio quae adipisci fugiat dignissimos veniam doloribus, inventore assumenda, voluptate atque iusto. Accusamus, officia.
            <!-- Check if user has staff permision later-->
            {% if user.is_authenticated %}
            <br>To join our taskers, click <a class="dot-link text-decoration-none" href="#"> here </a>
            {% endif %}
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="section-header">
        <h4 class="section-heading-dark">Our Top Services</h4>
    </div>
    <div class="row">
        
        <div class="col-9 col-md-4 my-2 mx-auto">
            <div class="card mx-auto shadow">
                <div class="service-image">
                    <img class="card-img-top cardimg" src="{% static 'city.jpg' %}" alt="Card image cap">
                </div>
                <div class="card-body cardbody">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">It's a broader card with text below as a natural lead-in to extra content. This content is a little longer.</p>
                </div>
                <div class="my-2 py-2">
                    <a class="btn btn-light mx-auto"><span class="fas fa-money-bill cb-icon"></span></a>
                </div>
                <div class="card-foter ml-3 mr-3 mb-3">
                <small class="text-muted float-left">Service by: qwerttrdhyg</small>
                <small class="text-muted float-right">Price: `N 12345</small>
                </div>
            </div>    
        </div>
    </div>
</div>

{% endblock %}